<div class="header-bar"></div>

<div class="outside">

  <div class="sidebar">
    <ul class="nav">
      <li>Assess Students</li>
      <li>My Classes</li>
      <li>My Criteria</li>
      <li>Criteria Library</li>
    </ul>
  </div>

  <div class="inner-sidebar">
    <ul class="nav">
      <li>My Classes</li>
      <li>Upcoming Assessments</li>
      <li>Previous Assessments</li>
    </ul>
  </div>

  <div class="boxes">

  <div class="inner-title">
    <h2>Michael's School Progress Snapshot</h2>
  </div>
  
    <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam.</div>
    <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, rem?</div>
    <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, numquam!</div>
    <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, pariatur?</div>
    <div class="box">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, dolore.</div>

  </div>
  
</div>

<div class="footer-bar"></div>
